FileFinderData/1028-20100710-hne/LICENSE
FileFinderData/Anniepoo-20140308-bft/wav/rb-04.wav
Filefinder.cmi
Filefinder.cmx
Filefinder.o
FileFinderFolder/PSF/data/
FileFinderFolder/PSF/MFCCData/
FileFinderFolder/results/
FileFinderFolder/PSF/MFCCData.zip
metadata.ami_results.txt
ResultSheet.xlsx
FileFinderFolder/PSF/MFCCData_folder/
FileFinderFolder/PSF/summary
VGG/summary
FileFinderData/
*.pyc