FileFinderData/1028-20100710-hne/LICENSE
FileFinderData/Anniepoo-20140308-bft/wav/rb-04.wav
Filefinder.cmi
Filefinder.cmx
Filefinder.o
results/
FileFinderData/
FileFinderData/1028-20100710-hne/LICENSE
FileFinderData/1028-20100710-hne/etc/GPL_license.txt
FileFinderData/1028-20100710-hne/etc/HDMan_log
FileFinderData/1028-20100710-hne/etc/HVite_log
FileFinderData/1028-20100710-hne/etc/PROMPTS
FileFinderData/1028-20100710-hne/etc/README
FileFinderData/1028-20100710-hne/etc/audiofile_details
FileFinderData/1028-20100710-hne/etc/prompts-original
FileFinderData/1028-20100710-hne/wav/ar-01.wav
FileFinderData/1028-20100710-hne/wav/ar-02.wav
FileFinderData/1028-20100710-hne/wav/ar-03.wav
FileFinderData/1028-20100710-hne/wav/ar-04.wav
FileFinderData/1028-20100710-hne/wav/ar-05.wav
FileFinderData/1028-20100710-hne/wav/ar-06.wav
FileFinderData/1028-20100710-hne/wav/ar-07.wav
FileFinderData/1028-20100710-hne/wav/rp-29.wav
FileFinderData/1028-20100710-hne/wav/rp-30.wav
FileFinderData/1028-20100710-hne/wav/rp-31.wav
FileFinderData/Aaron-20080318-lbk/LICENSE
FileFinderData/Aaron-20080318-lbk/etc/GPL_License
FileFinderData/Aaron-20080318-lbk/etc/HDMan_log
FileFinderData/Aaron-20080318-lbk/etc/HVite_log
FileFinderData/Aaron-20080318-lbk/etc/PROMPTS
FileFinderData/Aaron-20080318-lbk/etc/README
FileFinderData/Aaron-20080318-lbk/etc/audiofile_details
FileFinderData/Aaron-20080318-lbk/etc/prompts-original
FileFinderData/Aaron-20080318-lbk/wav/b0366.wav
FileFinderData/Aaron-20080318-lbk/wav/b0367.wav
FileFinderData/Aaron-20080318-lbk/wav/b0368.wav
FileFinderData/Aaron-20080318-lbk/wav/b0369.wav
FileFinderData/Aaron-20080318-lbk/wav/b0370.wav
FileFinderData/Aaron-20080318-lbk/wav/b0371.wav
FileFinderData/Aaron-20080318-lbk/wav/b0372.wav
FileFinderData/Aaron-20080318-lbk/wav/b0373.wav
FileFinderData/Aaron-20080318-lbk/wav/b0374.wav
FileFinderData/Aaron-20080318-lbk/wav/b0375.wav
FileFinderData/Angus-20080320-mih/LICENSE
FileFinderData/Angus-20080320-mih/etc/GPL_license.txt
FileFinderData/Angus-20080320-mih/etc/HDMan_log
FileFinderData/Angus-20080320-mih/etc/HVite_log
FileFinderData/Angus-20080320-mih/etc/PROMPTS
FileFinderData/Angus-20080320-mih/etc/README
FileFinderData/Angus-20080320-mih/etc/audiofile_details
FileFinderData/Angus-20080320-mih/etc/prompts-original
FileFinderData/Angus-20080320-mih/wav/a0180.wav
FileFinderData/Angus-20080320-mih/wav/a0181.wav
FileFinderData/Angus-20080320-mih/wav/a0182.wav
FileFinderData/Angus-20080320-mih/wav/a0183.wav
FileFinderData/Angus-20080320-mih/wav/a0184.wav
FileFinderData/Angus-20080320-mih/wav/a0185.wav
FileFinderData/Angus-20080320-mih/wav/a0186.wav
FileFinderData/Angus-20080320-mih/wav/a0187.wav
FileFinderData/Angus-20080320-mih/wav/a0188.wav
FileFinderData/Angus-20080320-mih/wav/a0189.wav
FileFinderData/Anniepoo-20140308-bft/LICENSE
FileFinderData/Anniepoo-20140308-bft/etc/GPL_license.txt
FileFinderData/Anniepoo-20140308-bft/etc/HDMan_log
FileFinderData/Anniepoo-20140308-bft/etc/HVite_log
FileFinderData/Anniepoo-20140308-bft/etc/Julius_log
FileFinderData/Anniepoo-20140308-bft/etc/PROMPTS
FileFinderData/Anniepoo-20140308-bft/etc/README
FileFinderData/Anniepoo-20140308-bft/etc/prompts-original
FileFinderData/Anniepoo-20140308-bft/wav/rb-05.wav
FileFinderData/Anniepoo-20140308-bft/wav/rb-06.wav
FileFinderData/Anniepoo-20140308-bft/wav/rb-07.wav
FileFinderData/Anniepoo-20140308-bft/wav/rb-08.wav
FileFinderData/Anniepoo-20140308-bft/wav/rb-09.wav
FileFinderData/Anniepoo-20140308-bft/wav/rb-10.wav
FileFinderData/Anniepoo-20140308-bft/wav/rb-11.wav
FileFinderData/Anniepoo-20140308-bft/wav/rb-12.wav
FileFinderData/Anniepoo-20140308-bft/wav/rb-13.wav
Filefinder.cmx
Filefinder.cmi
Filefinder.o
